.features {
	padding: 80px 0 110px;
}

.features__title {
	margin-bottom: 27px;
}

.features__description {
	max-width: 795px;
	margin-bottom: 80px;
}

.features__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	max-width: 1100px;
	gap: 48px;
}

.features__image {
	min-height: 760px;
	padding-right: 752px;
	background: url('../img/features-img.avif') center/contain no-repeat;
}

.features__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 45px;
}

.features__item {
	color: var(--first-color);
}

.features__item-title {
	margin-bottom: 32px;
	padding-left: 42px;
	background-position: left;
	background-size: 30px 42px;
	background-repeat: no-repeat;
}

.features__item-title_tips {
	background-image: url('../img/features1.svg');
}

.features__item-title_interface {
	background-image: url('../img/features2.svg');
}

.features__item-title_sync {
	background-image: url('../img/features3.svg');
}

.features__item-description {
	padding-left: 10px;
	max-width: 260px;
}

@media (max-width: 1200px) {
	.features__image {
		min-height: 600px;
		padding-right: 600px;
	}
	.features__item-title {
		margin-bottom: 25px;
	}
}

@media (max-width: 1000px) {
	.features__content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 58px;
	}
}

@media (max-width: 760px) {
	.features__image {
		min-height: 500px;
		padding-right: 500px;
	}
	.features__description {
		margin-bottom: 20px;
	}
}

@media (max-width: 580px) {
	.features__image {
		min-height: 406px;
		padding-right: 376px;
	}
}

@media (max-width: 415px) {
	.features__image {
		min-height: 300px;
		padding-right: 300px;
	}
}
