.footer {
	padding: 130px 0 110px;
}

.footer__container {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.footer__navigation-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 75px;
	margin-right: 200px;
}

.footer__navigation-title {
	margin-bottom: 40px;
}

.footer__item:not(:last-child) {
	margin-bottom: 20px;
}

.footer__link {
	font-weight: 500;
}

.footer__contacts-item:not(:last-child) {
	margin-bottom: 20px;
}

.footer__contacts-item:last-child {
	margin-top: 10px;
}

.footer__contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px; /* 150% */
	letter-spacing: 0.2px;
	outline: none;
}

.footer__contact_address .footer__contact_address-svg,
.footer__contact_phone,
.footer__social-link {
	-webkit-transition: color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	transition: color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
	transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
	transition: color 0.3s ease-in-out, transform 0.3s ease-in-out,
		-webkit-transform 0.3s ease-in-out;
	transition: color 0.3s ease-in-out, transform 0.3s ease-in-out,
		-webkit-transform 0.3s ease-in-out;
}

.footer__social-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 24px;
}

@media (max-width: 1200px) {
}

@media (max-width: 1000px) {
	.footer__navigation-list {
		gap: 50px;
		margin-right: auto;
	}
}

@media (max-width: 760px) {
	.footer__container {
		max-width: 296px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.footer__navigation-list {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 75px;
		margin-right: 0;
		margin-bottom: 75px;
	}
}

/* смартфоны, устройства с сенсорным экраном, с которым работают пальцами */
@media (hover: none) and (pointer: coarse) {
	.footer__contact_address:active {
		color: #ffcc00;
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}
	.footer__contact_address:active .footer__contact_address-svg {
		color: #fc3f1d;
	}
	.footer__contact_phone:active {
		color: #25d366;
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}
	.footer__social-link_twitter:active {
		color: var(--active-color);
	}
	.footer__social-link_facebook:active {
		color: var(--active-color);
	}
	.footer__social-link_linkedin:active {
		color: var(--active-color);
	}
}

/* устройства с сенсорным экраном, с которым работают стилусом */
@media (hover: none) and (pointer: fine) {
	.footer__contact_address:active {
		color: #ffcc00;
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}
	.footer__contact_address:active .footer__contact_address-svg {
		color: #fc3f1d;
	}
	.footer__contact_phone:active {
		color: #25d366;
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}
	.footer__social-link_twitter:active {
		color: var(--active-color);
	}
	.footer__social-link_facebook:active {
		color: var(--active-color);
	}
	.footer__social-link_linkedin:active {
		color: var(--active-color);
	}
}

/* контроллер Nintendo Wii, Microsoft Kinect */
@media (hover: hover) and (pointer: coarse) {
	.footer__contact_address:hover,
	.footer__contact_address:focus {
		color: #ffcc00;
	}
	.footer__contact_address:hover .footer__contact_address-svg,
	.footer__contact_address:focus .footer__contact_address-svg {
		color: #fc3f1d;
	}
	.footer__contact_phone:hover,
	.footer__contact_phone:focus {
		color: #25d366;
	}
	.footer__social-link_twitter:hover,
	.footer__social-link_twitter:focus {
		color: #1da1f2;
	}
	.footer__social-link_facebook:hover,
	.footer__social-link_facebook:focus {
		color: #1877f2;
	}
	.footer__social-link_linkedin:hover,
	.footer__social-link_linkedin:focus {
		color: #2867b2;
	}
}

/* мышь, тачпад */
@media (hover: hover) and (pointer: fine) {
	.footer__contact_address:hover,
	.footer__contact_address:focus {
		color: #ffcc00;
	}
	.footer__contact_address:hover .footer__contact_address-svg,
	.footer__contact_address:focus .footer__contact_address-svg {
		color: #fc3f1d;
	}
	.footer__contact_phone:hover,
	.footer__contact_phone:focus {
		color: #25d366;
	}
	.footer__social-link_twitter:hover,
	.footer__social-link_twitter:focus {
		color: #1da1f2;
	}
	.footer__social-link_facebook:hover,
	.footer__social-link_facebook:focus {
		color: #1877f2;
	}
	.footer__social-link_linkedin:hover,
	.footer__social-link_linkedin:focus {
		color: #2867b2;
	}
}
