.partners {
	padding: 105px 0;
}

.partners__title {
	margin-bottom: 20px;
}

.partners__description {
	max-width: 538px;
	margin-bottom: 60px;
}

.partners__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 74px;
	margin-bottom: 50px;
}

.partners__item {
	outline: none;
}

.partners__button {
	width: 198px;
	border-color: var(--first-color);
}

@media (max-width: 1000px) {
	.partners__list {
		gap: 40px;
	}
}

@media (max-width: 760px) {
	.partners__description {
		margin-bottom: 50px;
	}
}

@media (max-width: 580px) {
	.partners__list {
		justify-content: space-between;
		max-width: 385px;
		gap: 50px;
	}
}

@media (max-width: 415px) {
	.partners__list {
		flex-direction: column;
		gap: 20px;
	}
}
